/*本页用到的组 孙*/

/*idct==indicator idctctn==indicator container*/




.srvcn{text-align:center;color:#fff;font-size: 18px;}
.srvsplt{height: 10px;border-bottom: #15894a solid 1px }
.srvegls{text-align:center;color:#fff;font-size: 12px;margin-top:10px;}
.hcdnm{text-align: center;color:#2cb66b;font-size: 18px;}
